///////////////////////////////////////////////////////////// book
.book {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.price{
  font-size: 20px;
  color: #000;
}
.price-discount {
  text-decoration: line-through;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
  color: #F80D0D;
}
.card{
  display: inline-block;
  color: #fff;
}
.available, .not-available{
  color: #fff;
  background: #12D171;
  padding: 5px 10px;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 20%;
}
.not-available{
  color: #F80D0D;
}

////////////////////about////////////////////////////////// about
.special-heading-t-1 {
  position: relative;
}
.special-heading-t-1::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 5px solid #111E6C;
  border-radius: 10px;
  top: 30px;
  width: 61px;
}
.about{
  margin-top: 20px;
  color: #707070;
}
///////////////////////////////////////////////////////////////// media
 .space-media{
  width: 100%;
  height: 300px;
 }
