<div class="container offers" *ngIf="books.length > 0" >
  <div class="row">
    <div class="col-md-4">
      <h5 class="offer-1">#عروض حصرية</h5>
      <h3 class="offer-2">عرض خاص علي مجموعة
        <br>
        مختارة من الكتب</h3>
      <h3 class="offer-3"> <span class="off-percentage"> خصم يصل الى 50%</span> ,, احصل علية الان</h3>
    </div>
    <div class="col-md-8">
      <div class="books-offer row">
        <div  class=" col-sm-4  col-12" [ngClass]="(i>2 ) ? 'd-none': 'd-block' "  *ngFor="let book of books; let i = index"  >
          <div class="book">

            <img class="w-100" src="{{book?.photo?.path}}" (error)="book.photo.path = 'assets/images/book1.png'">
            <div class="book-details">
              <h6 style="font-size: 23px;
              margin-top: 7px;
              margin-bottom: 0;
              font-weight: 600;text-align: center;" [routerLink]="['/user/book', book.id]" matTooltip="{{book.name}}">{{book.name.slice(0, 15)}}</h6>

              <div class="d-flex justify-content-between">
                <div class="d-flex " style="margin: 25px 0px;">
                  <span class="price" *ngIf="book?.discount">{{book?.price_after_discount}} درهم</span>
                  <span class="price" *ngIf="!book?.discount">{{book?.price}} درهم</span>
                  <span class="price-discount" *ngIf="book?.price_after_discount !== book?.price" >{{book?.price}} درهم</span>
                </div>
                <a class="card"  (click)="openModalConfirmAddToCart(book)"  ><span class="icon icon-cart"></span> </a>
              </div>

              <div class="d-flex date-close justify-content-between">
                <h5> تاريخ الانتهاء</h5>
                <h6>{{book?.closing_date| date}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex">
        <span class="offer-close">ينتهي العرض خلال</span>
      </div> -->
    </div>
  </div>
</div>
