.offers{
  margin-top: 85px ;
  margin-bottom: 85px;
}
.offer-1{
  color: #FF0639;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.offer-2{
  line-height: 1.5;
  font-size: 35px;
  font-weight: 500;
}
.offer-3{
  line-height: 1.5;
  color: #BBBBBB;
  font-size: 30px;
  font-weight: 600;
}
.off-percentage{
  color: #111E6C;
}
.get-offer{
  border: none;
  background: #111E6C;
  color: #fff;
  font-weight: 600;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
}
.books-offer{
  margin-bottom: 25px;
}
.books-offer img{
  width: 100%;
  height: 250px;
}

.price{
  font-size: 20px;
  color: #000;
}
.book{
  margin-top: 0px;
}
.price-discount {
  text-decoration: line-through;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
  color: #F80D0D;
}
.book .card {
  height: 30px;
  margin: 25px 0px;
}
.date-close h6{
  font-size: 15px;
  color: #4e4e4e;
}
