.page{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #D9D9F3;
    border-radius: 10px;
    padding: 23px 10px;
    .text{
        letter-spacing: 0px;
        font-size: 16px;
        .spe{
            color: #111e6c;
        }
    }
}