
<div class="modal-body">
    <h1 class="text-center" style="color: #111E6C;"> سوف يتم مسح جميع الكتب المضافة لهذا الكاتب , هل انت متاكد من مسح هذا الكاتب   </h1>
    <div class="row justify-content-center">
      <div class="modal-footer">
        <div class="col">
          <button (click)="deleteAuthor()" class="w-100  add-to-cart" type="submit">
            مسح
          </button>
        </div>
        <div class="col">
          <button (click)="closeModal()" class="w-100  close-add" type="button">
            اغلاق
          </button>
        </div>
      </div>
    </div>
  </div>
  