<div class="container info">
  <h4 style="font-size: 20px;">الأحكام والشروط</h4>


الإمارات العربية المتحدة هي مقر إقامتنا والقانون النافذ هو قانون دولة الإمارات العربية المتحدة

 أي خلاف أو شكوى تنشأ جراء هذا الموقع أو تكون مرتبطة به تخضع لقوانين الإمارات العربية المتحدة وتفسّر وفقاً لها.


يُمنع من هم تحت سن 18، من التسجيل كمستخدمين في هذا الموقع ومن التعامل على الموقع أو استخدامه.

نقبل تسديد الدفعات من خلال بطاقات الإئتمان من Visa وMasterCard
وPayPal وAmex وWestern Union بالدولار الأميركي وبالعملة المستخدمة في البلد المقيم بها العميل ونقداً مسبقاً في بعض الدول ولا نعتمد طريقة الدفع النقدي عند الإستلام.

يجب على حامل البطاقة الاحتفاظ بنسخة عن سجلات المعاملات وسياسات حماية التجار وقواعدهم.

المستخدم مسؤول عن حماية خصوصية حسابه.

قد تتغير سياسات وأحكام وشروط الموقع الإلكتروني أو يتم تحديثها من حين لآخر لغرض تلبية الشروط والمعايير. لذلك، يتم تشجيع الزبائن على زيارة هذه الأقسام مراراً  ليصبحوا على علم بآخر التطورات التي طرأت على الموقع. ويسري مفعول هذه التطورات في اليوم الذي تُنشر فيه على الموقع.


خصوصية الموقع

يحفظ الموقع معلومات الهوية الشخصية ويُخزنها في قاعدة البيانات أما التفاصيل الخاصّة ببطاقات الائتمان فلا يتمّ تخزينها، أو مشاركتها ،أو بيعها أو تأجيرها لأي طرف ثالث.

في حال قمتم بدفع مبلغ مالي مقابل منتجاتنا أو خدمتنا على الموقع، سيتم إيصال المعلومات التي يُطلب منكم تزويدها مباشرة إلى مزوّد الخدمة عبر قناة اتصال آمنة.

يتخّذ المتجر التدابير اللازمة لضمان حماية البيانات وأمنها عبر العديد من الأساليب البرمجية والمعدات الحاسوبية. ومع ذلك، لا يمكن لموقع متجر كُتّاب أن يضمن أمن المعلومات التي يتم الكشف عنها مسبقاً على شبكة الإنترنت.

الموقع غير مسؤول عن سياسات الخصوصية التابعة للمواقع المرتبطة به. وإن زوّدت معلومات لتلك الأطراف الثالثة سيتم تطبيق قواعد مختلفة في جمع معلوماتك الخاصة واستخدامها. يتوجب عليك أن تتواصل مع تلك الهيئات مباشرة إن كانت لديك أسئلة تتعلق حيال استخدامها للمعلومات التي تجمعها.

قد يتم اختيار وتنفيذ بعض الإعلانات التي تراها على الموقع من قبل أطراف ثالثة،كالمعلنين ووكالات الإعلانات ومزوّدي خدمات تجزئة الجماهير وشبكات الإعلان، ويمكن لهذه الأطراف أن تجمع المعلومات الخاصة بك وعن نشاطك على شبكة الإنترنت،سواء كانت على الموقع أو على أي موقع آخر، وذلك من خلال ملفات تعريف الارتباط وإشارات الويب وغيرها من التقنيات في سعيها لفهم اهتماماتك وتزويدك بإعلانات تتوافق معها. لذلك، نوّد أن تكونوا على علم بأنّ موقعنا لا يمكنه الوصول إلى المعلومات التي قد تجمعها الاطراف الثالثة أو التّحكم بها، وبأن هذه السياسة لا تغطي الممارسات المعلوماتية لتلك الأطراف. يرجى إلغاء أي بيانات أخرى تُعارض البيانات المذكورة مسبقاً.


التسليم والشحن

إن متجر كُتّاب
  لن يتعامل أو يقدّم أي خدمات أو منتجات إلى أي بلد من البلدان المفروضة عليها عقوبات من قبل مكتب مراقبة الأصول الأجنبية (أوفاك) وذلك وفقاً لأحكام الدستور والقوانين التابعة للإمارات العربية المتحدة .

يتم إعلام الزبائن بتأكيد الدفع عبر بريد إلكتروني فور اتمام عملية الدفع.

يتم إرسال تفاصيل الطلبية عبر بريد إلكتروني وبإمكان الزبون أن يتعقب الوقت المرتقب لوصول طلبيته عبر الدخول إلى أيقونة "حسابك".

يرجى ملاحظة أن إجراء معاملات متعددة يؤدي إلى عمليات قيد متعددة في بيان حامل البطاقة الشهري.



 الاسترداد

تجري عمليات استرداد الأموال فقط عند الدفع عبر بطاقة الإئتمان أو PayPal.

عند الدفع عبر Western Union أو نقداً يرجى ملاحظة أنه لا يتم إعادة المبلغ أو فرق المبلغ المدفوع إلى الزبون بسبب كلفة التحويل بل يتم الإحتفاظ به كرصيد للإستخدام في الطلبيات المستقبلية.


الإلغاء والتبديل

يسمح بإلغاء الطلبية أو إبدالها في الحالات التالية:

اذا أُرسل المنتج الخاطىء.

اذا ثبت أن المنتج معيب أو أتلف خلال عملية الشحن.

يمكن طلب الإلغاء في مرحلة الإعداد أي إن كانت الكتب لا تزال في حالة "مطلوب" حيث لا يمكن طلب إلغاء كتاب بعد أن يصبح في حالة "موجود" أو "أرسل".
</div>
