<div>
  <div class="header d-flex justify-content-between">
    <h2>عناوين الشحن</h2>
    <div class="add-address" [routerLink]="['/user/profile/add-address']"><span class=" icon-plus" ></span></div>
  </div>
</div>
<div class="container-fluid address-page">
  <div class="row address" *ngFor="let add of address" >
    <div class=" col-12 d-flex justify-content-between">
      <h2 style="margin-bottom: 5px;">{{user.fullname}}</h2>
      <div>
        <span class="icon icon-edit" [routerLink]="['/user/profile/add-address', add.id]"></span>
        <span class="icon icon-trash-2" (click)="idAddress=add.id; modalService.show(delete)" ></span>
      </div>
    </div>
    <div class="col-12 basic-data">
      <span>{{add.address}} / {{add.region}} </span> <br>
      <span>{{add.city}} </span> <br>
      <span>{{add.country}} </span><br>
      <span>{{add.zip}} </span><br>
    </div>
  </div>
</div>
<ng-template #delete>
  <div class="modal-body">
    <h1 class="text-center" style="color: #111E6C;"> هل انت متاكد من مسح هذا العنوان</h1>
    <div class="row justify-content-center">
      <div class="modal-footer">
        <div class="col">
          <button (click)="deleteAdress()"  class="w-100  add-to-cart" type="submit">
            مسح
          </button>
        </div>
        <div class="col">
          <button (click)="closeModal()" class="w-100  close-add" type="button">
            اغلاق
          </button>
        </div>
      </div>
    </div>
  </div>


</ng-template>
