<div class="page">
    <div class="pageHead d-flex ">
        <div class="header order-1">
            مشترياتك
        </div>
        <div class="dropdown order-2 mr-auto dropdownBtn">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               2021 
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </div>
    </div>
    <div class="box">
        <div class="boxHead d-flex mt-2">
            <div class="orderDetails order-1 d-flex flex-column">
                <div class="order-1">
                    <div class="detail"> تاريخ الطلب  <span>20/04/2021</span></div>
                </div>
                <div class="order-2">
                    <div class="detail">رقم الطلب   <span>#3773468273</span></div>
                </div>
                <div class="order-3">
                    <div class="detail"> المبلغ <span>89درهم سعودي</span></div>
                </div>
            </div>
            <div class="orderDetails order-2 d-flex flex-column mx-auto">
                <div class="order-1">
                    <div class="detail"> المستلم   <span>فهد الخالد</span></div>
                </div>
                <div class="order-2">
                    <div class="detail"> طريقه الدفع   <span>بطاقة ائتمانية</span></div>
                </div>
                <div class="order-3">
                    <div class="detail"> عرض التفاصيل</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="deliveryStatus d-flex justify-content-between">
            <div class="readyToDeliver order-1 d-flex">
                <div class="order-1 mr-xl-5 mr-lg-5 mt-1">جاهزه للشحن</div>
                <div class="shape order-2"></div>
            </div>
            <div class="onDeleviry order-2 d-flex">
                <div class="order-1 mr-xl-5 mr-lg-5 mt-1">قيد التوصيل</div>
                <div class="shape order-2"></div>
            </div>
            <div class="delivered order-3 d-flex">
                <div class="order-2  marg-right-sm mr-xl-5 mr-lg-5 mt-1">تم الاستلام</div>
            </div>
        </div>
        <div class="pageFooter d-flex mt-4">
            <div class="bookDetails order-1 d-flex">
                <div class="order-1">
                    <img src="../../../../../assets/images/فقه-بناء-الإنسان-فى-القرآن-11881-160px 130px-jpg@2x.png" alt="">
                </div>
                <div class="order-2 marg-right-sm mr-md-3 mr-xl-3 mr-lg-3">
                    <div class="head">رواية الخيميائي <span>( نسخة اصلية )</span></div>
                    <div class="head-1">باولو كويلو</div>
                    <div class="head-2">الدار العربيه للنشر والتوزيع</div>
                    <div class="head-3">قيم الكتاب</div>
                    <div class="head-4 d-flex">
                        <span class="icon-bxs-star-8 order-1"></span>
                        <span class="icon-bxs-star-8 order-2"></span>
                        <span class="icon-bxs-star-8 order-3"></span>
                        <span class="icon-bxs-star-8 order-4"></span>
                        <span class="icon-bxs-star-8 order-5"></span>
                    </div>
                </div>
            </div>
            <div class="sellerDetail order-2 mr-xl-5 mr-lg-5">  
                <div class="seller">البائع <span>الدار العربيه للنشر والتوزيع</span></div>
                <div class="shiping">الشحن <span>شركه ارامكس للشحن</span></div>
            </div>
        </div>
    </div>
</div>