<div class="page" style="display: flex; justify-content: flex-start; flex-direction: column; align-items: flex-start;">
    <div class="row header" style="align-self: center;">
        <p>كل الاقسام</p>
    </div>
    <div class="row w-100">
        <div class="col-12 box" *ngFor="let item of allCategoryData">
            <div class="row">
                <div class="col-xl-6 col-lg-6 heading">
                    <p class="heading-1">{{item.name}}</p>
                    <p>{{item.description}}</p>
                </div>
                <div class="col-xl-6 col-lg-6 d-flex justify-content-end align-items-center">
                    
                       <div class="btncontainer">
                            <button [routerLink]="['/admin/edit-section/',item.id]"  class="btn btn-primary ms-1">تعديل</button>
                       </div>
                        <div class="btncontainer">
                            <button (click)="deleteCategory(item.id)" class="btn btn-danger">حذف</button>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center addingbtn">
        <button [routerLink]="['/admin/add-section']" style="min-width: 150px;">إضافة قسم جديد</button>
    </div>
</div>
