


<div class="modal-body">
  <h1 class="text-center" style="color: #111E6C;"> اضف الى سله المشتريات</h1>
  <div class="row">
    <div class="col-12">
      <input type="number" placeholder="عدد النسخ" [(ngModel)]="countBook">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="modal-footer">
      <div class="col">
        <button (click)="addToCart()" [disabled]="buttunAdd" class="w-100  add-to-cart" type="submit">
          اضف
        </button>
      </div>
      <div class="col">
        <button (click)="closeModal()" class="w-100  close-add"
          type="button">
          اغلاق
        </button>
      </div>
    </div>
  </div>
</div>
